@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (!User.Identity.IsAuthenticated)
{
    <a asp-action="Login" asp-controller="Account" class="btn btn-default">Log In with GitHub</a>
}
else
{
    <div class="row">
        <div class="col-md-2">
            <img src="@Model.GitHubAvatar" alt="" class="img-thumbnail" />
        </div>
        <div class="col-md-10">
            <div>
                <i class="fab fa-github"></i>
                <a href="@Model.GitHubUrl">@Model.GitHubLogin</a>
            </div>
            <div>
                <i class="fab fa-github"></i>
                <a href="@Model.GitHubUrl">@Model.GitHubUrl</a>
            </div>
        </div>
    </div>
}